{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
        <ul class="list-group">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>

                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}
        </ul>
{% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                    {% if category.replace('_', ' ').title() == "Medical Help" %}
                        <p>We Suggest You To DIAL 104 HEALTH HELPLINE NUMBER</p>
                    {% elif category.replace('_', ' ').title() == "Medical Products" %}
                        <p>We Suggest You To Check Nearby Pharmacies</p>
                    {% elif category.replace('_', ' ').title() == "Infrastructure Related" %}
                        <p>How To Stay Safe During Natural Disaster</p>
                    {% elif category.replace('_', ' ').title() == "Hospitals" %}
                        <p>We Recommend You To Check Nearby Hospitals</p>
                    {% endif %}






                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
