{% extends "master.html" %} {% block title %} {% endblock %} {% block message %}
<hr />
<h4 class="text-center">MESSAGE</h4>
<p class="text-center"><i>{{query}}</i></p>
{% endblock %} {% block content %}
<h1 class="text-center">
    <h1 style="font-size:6rem;font-family: 'Black Ops One', cursive;color: rgb(11, 120, 139);" class="text-center">Results</h1>
</h1>

<!-- <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup('wind')">Nearby</a></li>
</div> -->


{% for category, classification in classification_result.items() %} {% if classification == 1 %} {% if (category.replace('_', ' ').title() == "Request") %}
<li class="list-group-item list-group-item-warning text-center">Request


</div>
</li>
<p>You  Can Request For The Following Services</p>

{% elif (category.replace('_', ' ').title() == "Offer") %}
<li class="list-group-item list-group-item-warning text-center">Offer

    <div class="dropdown-menu">

</div>

<p>We Can Offer You The Following Services</p>

{% elif (category.replace('_', ' ').title() == "Aid Related") %}
<li class="list-group-item list-group-item-warning text-center">Aid Related
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup1('wind')">Nearby</a></li>
</div>

<p>The priority of the message is LOW. It will we really helpful if you inform the local departments </p>
{% elif (category.replace('_', ' ').title() == "Direct Report") %}
<li class="list-group-item list-group-item-success text-center">Direct Report
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup1('wind')">Nearby</a></li>
</div>

<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments .</p>

{% elif (category.replace('_', ' ').title() == "Medical Help") %}
<li class="list-group-item list-group-item-success text-center">Medical Help<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:108">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup2('wind')">Nearby</a></li>
</div>
<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments For Medical Help</p>



{% elif category.replace('_', ' ').title() == "Medical Products" %}
<li class="list-group-item list-group-item-success text-center">Medical Products<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick=""href="tel:9825098250">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup3('wind')">Nearby</a></li>
</div>
<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments .We Suggest You To Check Nearby Pharmacies</p>

{% elif category.replace('_', ' ').title() == "Search And Rescue" %}
<li class="list-group-item list-group-item-danger text-center">Search And Rescue<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:100">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup4('wind')">Nearby</a></li>
</div>
<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Search And Rescue</p>

{% elif category.replace('_', ' ').title() == "Security" %}
<li class="list-group-item list-group-item-danger text-center">Security
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup5('wind')">Nearby</a></li>
</div>

<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Security</p>

{% elif category.replace('_', ' ').title() == "Military" %}
<li class="list-group-item list-group-item-danger text-center">Military
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:100">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup6('wind')">Nearby</a></li>
</div>

<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Military</p>

{% elif category.replace('_', ' ').title() == "Child Alone" %}
<li class="list-group-item list-group-item-success text-center">Child Alone
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:1098">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup13('wind')">Nearby</a></li>
</div>

<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments .We Suggest You To Contact Police.</p>

{% elif category.replace('_', ' ').title() == "Water" %}
<li class="list-group-item list-group-item-warning text-center">Water
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick=""href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup8('wind')">Nearby</a></li>
</div>

<p>The priority of the message is LOW. It will we really helpful if you inform the local departments We Suggest You To Contact nearby Water Department</p>

{% elif category.replace('_', ' ').title() == "Food" %}
<li class="list-group-item list-group-item-warning text-center">Food
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup('wind')">Nearby</a></li>
</div>

<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Suggest You To Check For Restaurants</p>

{% elif category.replace('_', ' ').title() == "Shelter" %}
<li class="list-group-item list-group-item-warning text-center">Shelter
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup10('wind')">Nearby</a></li>
</div>

<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Suggest You To Check Shelter</p>

{% elif category.replace('_', ' ').title() == "Clothing" %}
<li class="list-group-item list-group-item-warning text-center">Clothing
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup11('wind')">Nearby</a></li>
</div>

<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Suggest You To Check Clothing</p>

{% elif category.replace('_', ' ').title() == "Money" %}
<li class="list-group-item list-group-item-warning text-center">Money
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup12('wind')">Nearby</a></li>
</div>

<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Suggest You To Check For Money</p>

{% elif category.replace('_', ' ').title() == "Missing People" %}
<li class="list-group-item list-group-item-success text-center">Missing People
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:100">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup13('wind')">Nearby</a></li>
</div>

<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments .We Suggest You To Contact Police</p>

{% elif category.replace('_', ' ').title() == "Refugees" %}
<li class="list-group-item list-group-item-success text-center">Refugees</li><button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
<div class="dropdown-menu">
    <a class="dropdown-item" onclick=""href="tel:07923275833">SOS</a>
    <a class="dropdown-item" onclick="openRequestedPopup14('wind')">Nearby</a></li>
</div>
<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments .We Suggest You To Check Refugees</p>

{% elif category.replace('_', ' ').title() == "Death" %}
<li class="list-group-item list-group-item-danger text-center">Death<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:100">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup15('wind')">Nearby</a></li>
</div>
<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Any Death</p>

{% elif category.replace('_', ' ').title() == "Other Aid" %}
<li class="list-group-item list-group-item-warning text-center">Other Aid<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup16('wind')">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Suggest You To Check Other Aid Department</p>


{% elif category.replace('_', ' ').title() == "Infrastructure Related" %}
<li class="list-group-item list-group-item-success text-center">Infrastructure Related<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup17('wind')">Nearby</a></li>
</div>
<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments .We Suggest You To Check Infrastructure Related Queries</p>


{% elif category.replace('_', ' ').title() == "Transport" %}
<li class="list-group-item list-group-item-warning text-center">Transport<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup18('wind')">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Recommend You To Check Nearby Transport</p>

{% elif category.replace('_', ' ').title() == "Buildings" %}
<li class="list-group-item list-group-item-warning text-center">Buildings<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup19('wind')">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Recommend You To Check Nearby Buildings</p>

{% elif category.replace('_', ' ').title() == "Electricity" %}
<li class="list-group-item list-group-item-warning text-center">Electricity<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup20('wind')">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Recommend You To Check Nearby Electricity</p>

{% elif category.replace('_', ' ').title() == "Tools" %}
<li class="list-group-item list-group-item-warning text-center">Tools<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup21('wind')">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Recommend You To Check Nearby Tools</p>

{% elif category.replace('_', ' ').title() == "Shops" %}
<li class="list-group-item list-group-item-warning text-center">Shops<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup23('wind')">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Recommend You To Check Nearby Shops</p>

{% elif category.replace('_', ' ').title() == "Aid Centers" %}
<li class="list-group-item list-group-item-warning text-center">Aid Centers<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup24('wind')">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments We Recommend You To Check Nearby Aid Centers</p>

{% elif category.replace('_', ' ').title() == "Hospitals" %}
<li class="list-group-item list-group-item-danger text-center">Hospitals<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:101">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup22('wind')">Nearby</a></li>
</div>
<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Hospitals</p>

{% elif category.replace('_', ' ').title() == "Weather Related" %}
<li class="list-group-item list-group-item-success text-center">Weather Related<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup26('wind')">Nearby</a></li>
</div>
<p>The priority of the message is MODERATE . We request you to inform the respective emergency departments .We Recommend You To Contact Metrological Department</p>



{% elif category.replace('_', ' ').title() == "Food" %}
<li class="list-group-item list-group-item-warning text-center">Food</li>
<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
<div class="dropdown-menu">
    <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
    <a class="dropdown-item" onclick="openRequestedPopup()">Nearby</a></li>
</div>
<p>The priority of the message is LOW. It will we really helpful if you inform the local departments .We Recommend You To Check Nearby Food Places</p>


{% elif category.replace('_', ' ').title() == "Floods" %}
<li class="list-group-item list-group-item-danger text-center">Floods<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup27('wind')">Nearby</a></li>
</div>

<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Floods</p>


{% elif category.replace('_', ' ').title() == "Storm" %}
<li class="list-group-item list-group-item-danger text-center">Storm<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup28('wind')">Nearby</a></li>
</div>
<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Storm</p>


{% elif category.replace('_', ' ').title() == "Fire" %}
<li class="list-group-item list-group-item-danger text-center">Fire<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:101">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup29('wind')">Nearby</a></li>
</div>
<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Fire</p>


{% elif category.replace('_', ' ').title() == "Earthquake" %}
<li class="list-group-item list-group-item-danger text-center">Earthquake<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup30('wind')">Nearby</a></li>
</div>
<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Earthquake</p>


{% elif category.replace('_', ' ').title() == "Cold" %}
<li class="list-group-item list-group-item-danger text-center">Cold<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" onclick="" href="tel:07923275833">SOS</a>
        <a class="dropdown-item" onclick="openRequestedPopup31('wind')">Nearby</a></li>
</div>
<p>The priority of the message is HIGH . We request you to contact the respective emergency departments as soon as possible For Cold Conditions</p>


{% endif %} {% endif %} {% endfor %}

</div>
</div>

<script>
    var windowObjectReference;


    function openRequestedPopup(category) {
        var windowObjectReference;

        var str1 = "https://www.google.com/maps/search/near+by+Food";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    var variable = category.replace('_', ' ').title();

    document.getElementById("btn1", onclick = openRequestedPopup(variable), false);

     var windowObjectReference;

    function openRequestedPopup1(category) {
        var str1 = "https://www.google.com/maps/search/near+by+disaster+relief+centres";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup1, false);



    var windowObjectReference;

    function openRequestedPopup2(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Medical Help";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup2, false);

    var windowObjectReference;

    function openRequestedPopup3(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Medical Products";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup3, false);

    var windowObjectReference;

    function openRequestedPopup4(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Search And Rescue";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup4, false);

    var windowObjectReference;

    function openRequestedPopup5(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Security";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup5, false);

    var windowObjectReference;

    function openRequestedPopup6(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Military";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup6, false);

    var windowObjectReference;

    function openRequestedPopup7(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Child Alone";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup7, false);

    var windowObjectReference;

    function openRequestedPopup8(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Water";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup8, false);



    var windowObjectReference;

    function openRequestedPopup10(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Shelter";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup10, false);

    var windowObjectReference;

    function openRequestedPopup11(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Clothing";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup11, false);

    var windowObjectReference;

    function openRequestedPopup12(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Banks";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup12, false);

     var windowObjectReference;

    function openRequestedPopup13(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Police Station";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup13, false);

     var windowObjectReference;

    function openRequestedPopup14(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Refugees";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup14, false);


     var windowObjectReference;

    function openRequestedPopup15(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Hospitals";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup15, false);

    var windowObjectReference;

    function openRequestedPopup16(category) {
        var str1 = "https://www.google.com/maps/search/near+by+ disaster+relief+centres";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup16, false);

    var windowObjectReference;

    function openRequestedPopup17(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Infrastructures";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup17, false);

    var windowObjectReference;

    function openRequestedPopup18(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Transport";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup18, false);

    var windowObjectReference;

    function openRequestedPopup19(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Buildings";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup19, false);

    var windowObjectReference;

    function openRequestedPopup20(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Electricity+Company";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup, false);

    var windowObjectReference;

    function openRequestedPopup21(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Tools";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup21, false);

    var windowObjectReference;

    function openRequestedPopup22(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Hospitals";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup22, false);

    var windowObjectReference;

    function openRequestedPopup23(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Shops";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup23, false);

    var windowObjectReference;

    function openRequestedPopup24(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Aid Centers";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup24, false);

    var windowObjectReference;

    function openRequestedPopup25(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Other Infrastructure";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup25, false);

    var windowObjectReference;

    function openRequestedPopup26(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Meteorological+Department";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup26, false);

    var windowObjectReference;

    function openRequestedPopup27(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Disaster+Relief+Centres";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup27, false);


     var windowObjectReference;

    function openRequestedPopup28(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Disaster+Relief+Centres";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup28, false);

     var windowObjectReference;

    function openRequestedPopup29(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Fire+station";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup29, false);


     var windowObjectReference;

    function openRequestedPopup30(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Disaster+Relief+Centres";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup30, false);


     var windowObjectReference;

    function openRequestedPopup31(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Hospitals";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup31, false);

     var windowObjectReference;

    function openRequestedPopup32(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Other Weather";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup32, false);


     var windowObjectReference;

    function openRequestedPopup33(category) {
        var str1 = "https://www.google.com/maps/search/near+by+Direct Report";
        var str2 = category;
        var map = str1;
        windowObjectReference = window.open(
            map,
        );
    }

    document.getElementById("btn1", onclick = openRequestedPopup33, false);
</script>

{% endblock %}